@media (min-width: 320px) and (max-width: 373px){
    .about{
        display: none;
    }
    #homeMX{
        display: none;
    }
    .gallery{
        display: none;
    }
    #galleryMX{
        display: none;
    }
    .owners{
        display: none;
    }
    #ownersMX{
        display: none;
    }
    .contact{
        display: none;
    }
    #contactMX{
        display: none;
    } 
}



@media (min-width: 374px) and (max-width: 767px){
    .about{
        display: none;
    }
    #homeMX{
        display: none;
    }
    .gallery{
        display: none;
    }
    #galleryMX{
        display: none;
    }
    .owners{
        display: none;
    }
    #ownersMX{
        display: none;
    }
    .contact{
        display: none;
    }
    #contactMX{
        display: none;
    }
    .wrapper{
    .about-mobile{
        &__imgContainer{
            clip-path: circle(220px at 40% 40%);
        }
        &__text{
         &--header{
             font-size: 2.5rem;
         }
     
          &--content{
                font-size: 1.7rem;
                line-height: 1.5em;
                padding-bottom: 2em;
         }
     }
     }

     .gallery-mobile{
            &__imgContainer{
                clip-path: circle(220px at 40% 40%);
                .photoBtn{
                    padding: 1.5em;
                    left: 75%;
                }
            }
        &__text{
         &--header{
             font-size: 2.5rem;
         }
     
          &--content{
                padding-left: 1.8em;
                font-size: 1.7rem;
                line-height: 1.5em;
                padding-bottom: 2em;
         }
     }
     }

     .owners-mobile{
        &__imgContainer{
            clip-path: circle(220px at 40% 40%);
        }

        &__text{
            &--header{
                font-size: 2.5rem;
            }
        
             &--content{
                   padding-left: 1.8em;
                   font-size: 1.7rem;
                   line-height: 1.5em;
                   padding-bottom: 2em;
            }
     }
    }

     .contact-mobile{
        &__imgContainer{
            clip-path: circle(220px at 40% 40%);
        }

        &__text{
            &--content{
                padding-top: 15em;

                strong{
                    font-size: 2.3rem;
                }

                .adres{
                    font-size: 1.8rem;
                }

                h4{
                    font-size: 2.3rem;
                }

                .tele{
                    font-size: 2.3rem;
                }
            }
        }
     }
}
section{
    .footer{
    &__text{
        font-size: 2.5rem;
    }
}}
}

@media (min-width: 768px) and (max-width: 1024px){
    #sticky-navbar{
        height: 100px;
        gap: 15em;

        .booking-logo{
            top: 1px;
            display: flex;
        }

        h3{
            display: flex;
        }
    }

    .nav{
        margin-top: 25px;
        
        &__items{
           
                a{
                    font-size: 2rem;  
                }
        }

    }

    .header{
        margin-top: 8em;
        h1{
            font-size: 6rem;
            letter-spacing: 3px;
        }
        p{
            font-size: 2rem;
        }
    }

    .about-mobile{
        display: none;
    }

    .gallery-mobile{
        display: none;
    }
    .owners-mobile{
        display: none;
    }
    .contact-mobile{
        display: none;
    }
    section{
    .footer{
        &__text{
            font-size: 2.5rem;
        }
    }
}


}